body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    background: #f1f5f9;
}

/* sidebar */
.sidebar{
    width: 230px;
     background: #4e73df;
    color: white;
    padding: 20px;
    height: 150vh;
}

.sidebar h2{
    margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px;
  border-radius: 5px;
}

.sidebar a:hover, .active{
    background: rgba(255,255,255,0.2);
}

/* Main Content */
.main{
    flex: 1;
    padding: 30px;
}

.main h1{
    margin-bottom: 20px;
}

.form-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    /* keeps form from stretching */
    max-width: 600px;
    /* margin-bottom: 30px; */
}

.form-group{
    margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input{
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button{
   background: #4e73df;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;  
}

button:hover{
    background: #1d4ed8;
}

/* Table */
.table-container{
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

/* Table styling */
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th{
    background: #e2e8f0;
}