doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Transport Automation - Nyondo Stock
  link(rel='stylesheet' href='css/transport.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css')
.sidebar
  h2 Nyondo Stock
  a(href='#')
    i.fas.fa-th-large
    | Dashboard
  a(href='#')
    i.fas.fa-boxes
    | Stock
  a(href='#')
    i.fas.fa-shopping-cart
    | Sales
  a(href='#')
    i.fas.fa-truck
    | Suppliers
  a(href='#')
    i.fas.fa-wallet
    | Deposits
  a(href='#')
    i.fas.fa-chart-line
    | Reports
  a.active(href='#')
    i.fas.fa-truck-ramp-box
    | Transport
  a(href='#')
    i.fas.fa-sign-out-alt
    | Logout
.main
  h1 Transport &amp; Logistics
  .transport-grid
    .calc-card
      h2 Calculate Charges
      form#transportForm(action='/transport' method='post')
        .form-group
          label Delivery Destination
          input(type='text' name='deliverydestination' placeholder='e.g., Kira Town, Namugongo' required='')
        .form-group
          label Distance (KM)
          input#distance(type='number' name='distance' placeholder='Enter distance' required='')
        .form-group
          label Vehicle Type
          select#vehicle(name='vehicletype' required='')
            option(value='') Select vehicle type
            option(value='5000') Motorcycle (Boda)
            option(value='15000') Small Pickup (Hilux)
            option(value='40000') Big Truck (Fuso)
        .total-display
          p Estimated Fee:
          h2#fee-result UGX 0
        button(type='button') Record Delivery
    .status-card
      h2 Pending Deliveries
      table
        thead
          tr
            th Customer
            th Vehicle
            th Destination
            th Status
        tbody
          tr
            td Musa Okello
            td Fuso Truck
            td Kira Town
            td
              span.badge.transit In Transit
          tr
            td Alice Nakato
            td Small Pickup
            td Bweyogerere
            td
              span.badge.pending Pending
